spack:
  definitions:
  - _pytest-args: ['-v', '--tb=short']
  specs:
  - issm @git.{{ ref }} +wrappers ~ad
  packages:
    gcc:
      require:
      - '@{{ gcc_compiler_version }}'
    all:
      require:
      - '%access_gcc'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
